# Thailand Covid-19
This dataset is copied from https://data.go.th/dataset/8a956917-436d-4afd-a2d4-59e4dd8e906e/resource/894664f5-447a-46ec-9fe2-1b6ae8f18be5/download/confirmed-cases-since-120465.csv that reported data about patient or who are stay close to patient from "Corona Virus" in Thailand.

In this repository will show some Pandas features to manipulate data.

### import pandas and create dataframe

In [129]:
import pandas as pd

# url is mentioned above
url = "https://data.go.th/dataset/8a956917-436d-4afd-a2d4-59e4dd8e906e/resource/894664f5-447a-46ec-9fe2-1b6ae8f18be5/download/confirmed-cases-since-120465.csv"

# create dataframe call "df"
df = pd.read_csv(url)

C:\Users\knora\AppData\Local\Temp\ipykernel_2172\1371607441.py:7: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

### Check what column names are in the dataframe.

In [130]:
df.columns

Index(['No.', 'announce_date', 'Notified date', 'sex', 'age', 'Unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset'],
      dtype='object')

### Explore the overview of dataframe
We can see the number of rows and column names with dtype in each column.

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356612 entries, 0 to 356611
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    356612 non-null  int64
 1   announce_date          356612 non-null  object
 2   Notified date          356612 non-null  object
 3   sex                    338957 non-null  object
 4   age                    325395 non-null  object
 5   Unit                   325395 non-null  object
 6   nationality            324566 non-null  object
 7   province_of_isolation  356612 non-null  object
 8   risk                   356612 non-null  object
 9   province_of_onset      321770 non-null  object
 10  district_of_onset      312638 non-null  object
dtypes: int64(1), object(10)
memory usage: 29.9+ MB

### Review the top 5 or bottom 5 of the dataframe
By default df.head() or df.tail() will show 5 rows but we can specify number that we need to see (ex. df.head(10) or df.tail(7)).

In [132]:
df.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,3905873,12/4/2022,11/4/2022,หญิง,54.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,จอมทอง
1,3905874,12/4/2022,11/4/2022,หญิง,36.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่
2,3905875,12/4/2022,11/4/2022,หญิง,31.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,ดอยหล่อ
3,3905876,12/4/2022,11/4/2022,ชาย,37.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,NaN,ต่างจังหวัด
4,3905877,12/4/2022,11/4/2022,หญิง,33.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,แม่ริม

In [133]:
df.tail()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
356607,4262480,1/5/2022,30/4/2022,ชาย,NaN,NaN,NaN,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN
356608,4262481,1/5/2022,30/4/2022,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
356609,4262482,1/5/2022,30/4/2022,หญิง,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
356610,4262483,1/5/2022,30/4/2022,หญิง,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
356611,4262484,1/5/2022,30/4/2022,ชาย,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [134]:
df.head(9)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,3905873,12/4/2022,11/4/2022,หญิง,54.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,จอมทอง
1,3905874,12/4/2022,11/4/2022,หญิง,36.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่
2,3905875,12/4/2022,11/4/2022,หญิง,31.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,ดอยหล่อ
3,3905876,12/4/2022,11/4/2022,ชาย,37.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,NaN,ต่างจังหวัด
4,3905877,12/4/2022,11/4/2022,หญิง,33.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,แม่ริม
5,3905878,12/4/2022,11/4/2022,หญิง,12.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,แม่แตง
6,3905879,12/4/2022,11/4/2022,ชาย,32.0,ปี,Thailand,เชียงใหม่,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,แม่ริม
7,3905880,12/4/2022,11/4/2022,หญิง,55.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,สารภี
8,3905881,12/4/2022,11/4/2022,หญิง,45.0,ปี,Thailand,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่

We should consider dtype in each column of the dataframe as shown in df.info(). In df.info() specify dtype in each column, but they are still not correct. For example 'announce_date' should be datetime, 'age' should be float64 or int64.
### dtype in pandas
https://pbpython.com/pandas_dtypes.html

It is important to make sure we are using the correct data types. 
We can specify the dtype when we import a csv file.

In [103]:
# We can specify dtype when importing the csv file.
# If you run this cell, it will give an error because there is some data in the 'age' column that can't be converted to float(or int) .
# df1 = pd.read_csv(url, dtype = {'No.' : object, 'age' : float})

### Explore anomalies in dataframe.
We should manage anomalies before we utilize this dataframe.
By using df.info, df.head() and df.tail(), we can consider what the dtype in each column should be.
No. ==> object, 
announce_date ==> datetime64, 
Notified date ==> datetime64, 
sex ==> category, 
age ==> float64/int64, 
Unit ==> category, 
nationality ==> object, 
province_of_isolation ==> object, 
risk ==> object, 
province_of_onset ==> object, 
district_of_onset ==> object

### Set 'announce_date' and 'Notified date' to datetime64 dtype format.

In [135]:
df['announce_date'] = pd.to_datetime(df['announce_date'], format = '%d/%m/%Y')
df['Notified date'] = pd.to_datetime(df['Notified date'], format = '%d/%m/%Y')

### Check dtype with df.info()
Let's see dtype in 'announce_date' and 'Notified date'. Now they are in datetime64 format.

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356612 entries, 0 to 356611
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    356612 non-null  int64
 1   announce_date          356612 non-null  datetime64[ns]
 2   Notified date          356612 non-null  datetime64[ns]
 3   sex                    338957 non-null  object
 4   age                    325395 non-null  object
 5   Unit                   325395 non-null  object
 6   nationality            324566 non-null  object
 7   province_of_isolation  356612 non-null  object
 8   risk                   356612 non-null  object
 9   province_of_onset      321770 non-null  object
 10  district_of_onset      312638 non-null  object
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 29.9+ MB

### Set other columns to the right dtype (except 'age')
According to 'df1' from above, that gives an error because some data in the 'age' column can't be converted to float.
We will deal with this issue later.

In [137]:
df = df.astype({'No.' : 'object', 'sex' : 'category', 'Unit' : 'category',
                'nationality' : 'object', 'province_of_isolation' : 'object',
                'risk' : 'object', 'province_of_onset' : 'object',
                'district_of_onset' : 'object','age' : 'float'})

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356612 entries, 0 to 356611
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    356612 non-null  object
 1   announce_date          356612 non-null  datetime64[ns]
 2   Notified date          356612 non-null  datetime64[ns]
 3   sex                    338957 non-null  category
 4   age                    325395 non-null  float64
 5   Unit                   325395 non-null  category
 6   nationality            324566 non-null  object
 7   province_of_isolation  356612 non-null  object
 8   risk                   356612 non-null  object
 9   province_of_onset      321770 non-null  object
 10  district_of_onset      312638 non-null  object
dtypes: category(2), datetime64[ns](2), float64(1), object(6)
memory usage: 25.2+ MB

### dropna()
There are many reasons why there are more missing values in the dataset, but we don't know why.
The solution to getting data in missing values is to contact the dataset provider.
We can't wait to communicate with them, so we will drop all rows that have missing values.

In [139]:
# create new dataframe by using old name 'df'
df = df.dropna()

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262536 entries, 0 to 356593
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    262536 non-null  object
 1   announce_date          262536 non-null  datetime64[ns]
 2   Notified date          262536 non-null  datetime64[ns]
 3   sex                    262536 non-null  category
 4   age                    262536 non-null  float64
 5   Unit                   262536 non-null  category
 6   nationality            262536 non-null  object
 7   province_of_isolation  262536 non-null  object
 8   risk                   262536 non-null  object
 9   province_of_onset      262536 non-null  object
 10  district_of_onset      262536 non-null  object
dtypes: category(2), datetime64[ns](2), float64(1), object(6)
memory usage: 20.5+ MB

As we can see, the number of rows decreases because we drop the rows that include missing values.

### Group data
df.groupby('sex').mean()
We can summarize the average age by a separate group by sex. This code does not give an error but it is wrong because it calculates the number in the 'age' column without considering the 'Unit' column.

In [27]:
df.groupby('sex').mean()

            age
sex
ชาย   39.300523
หญิง  41.905628

The correct way to calculate it is to calculate the number in the same unit.
df[df['Unit'] == 'ปี'].groupby('sex').meant()

In [145]:
df[df['Unit'] == 'ปี'].groupby('sex').mean()

            age
sex
ชาย   39.826927
หญิง  42.063497